Week3_SoftEngPt2\project\.vscode
Week2_SoftEng\project\.vscode
Week2_SoftEng/project/.vscode
Week2_SoftEng/project/.vscode/settings.json
Week3_SoftEngPt2/project/.vscode
Week3_SoftEngPt2/project/.vscode/settings.json