POSTGRES_USER= #postgres username
POSTGRES_PASSWORD=#postgres password
POSTGRES_DB=#postgres database name
POSTGRES_PORT=#postgres port
DATABASE_URL= # postgresql://postgres:postgres@localhost:  #port    /     #database name